body{
margin-top: 10vh;
    text-align: center;
}
input{
    margin: 10px auto;
    display:block;
}
button{
    margin: 10px auto;
    display:block;
    background-color: cyan;
}
h5{
    color: darkred;
    display: none;
}
#startScreen{
    text-align: center;
}
#block:active{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


